<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<footer>
    <p>
        &copy;2024 My instrument music shop, LLC. All
        rights reserved.
    </p>
</footer>

<h1>Информация о компании</h1>

<p><address>г.Москва ул.//////, дом 2</address></p>
<p><address>Генеральный директор Чулпанов Владислав Николаевич</address></p>
<p><address>Телефон для связи 8-937-771-55-18</address></p>
<p><a href="mailto:vlad.chulpanov@icloud.com">vlad.chulpanov@icloud.com</a></p>

Наша компания знимается ----дописать----





</body>
</html>