{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Доставка и оплата</title>{% endblock title %}

{% block content %}

<div class="delivery_describe">


        <h1>Информация о доставке и оплате заказов</h1>
    <div class="down">
        <p>Мы автоматически рассчитываем самую выгодную доставку в ваш город исходя из габаритов товара, сроков доставки и тарифов транспортных компаний.</p>
        <p>Укажите свой город в поле ниже и мы покажем все доступные варианты доставки. Точные сроки и окончательную стоимость доставки всего заказа можно</p>
        <p>увидеть в корзине при оформлении заказа.</p>


        <p class="process">Как всё будет происходить?</p>
        <ul class="li_right">
            <li>Вы оформляете заказ на сайте.</li>
            <li>Мы звоним для подтверждения заказа. Без подтверждения заказы не отправляются!</li>
            <li>Согласовываем с вами день и время доставки.</li>
            <li>Дальше собираем заказ, проверяем, упаковываем и передаём в транспортную компанию.</li>
            <li>В назначенный день, в выбранный вами диапазон времени курьер привозит заказ.</li>
        </ul>

        <p style=" margin-top: 5%; font-weight: bold; margin-bottom:6%">Доставка до двери — 2-4 дня</p>
    </div>

</div>

{% endblock content %}
{% comment %} тут надо будет дописать {% endcomment %}

