<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<div  id="navigation">
        <a href="">Корзина</a>
        <a href="">Мои заказы</a>
        <a href="">Избранное</a>
        <a href =''>Доставка</a>
        <a href="{% url 'main:about' %}">О компании</a>

    {% if user.is_authenticated %}
    Привет {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="parentNode.submit();">Выход</a>
    </form>
    {% else %}
        <p>Вы не авторизованы</p>
        <a href="accounts/login/"> Вход в личный кабинет</a>
    {% endif %}

</div>

<br>
</table>
    <br>
    <br>
<table align="center" width="60%" height="300">
    <tr>
        {% for i in category %}
        <th><a href="{% url 'catalog:details_of_category' i.slug %}">{{i.type_of_instruments}}</a></th>
        {% endfor %}
    </tr>
</table>

    </br>
    </br>

</body>
</html>