
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<p> <a name="В начало"></a> </p>

<header>
    <h1>{{goods_in_category_1}}</h1>
</header>

{% for i in instruments_pages %}
    <br><br>Фирма производитель: {{i.title}}
    <br><br>Модель:{{i.model}}
    <br><br>Наличие:{{i.availability}}
    <br><br>Количество:{{i.quantity}}
    <br><br>Цена:{{i.price}}

    <form method="post" action="{% url 'cart_add' i.id %}">
        {% csrf_token %}
    <button type="submit" name="action" value="decrease">-</button>
    <button type="submit" name="action" value="add">Добавить в корзину</button>
    <button type="submit" name="action" value="increase">+</button>
    </form>
    {% endfor %}



<p>{% include "catalog/details_paginator.html" with page=instruments_pages %}<p/>

<p><a href="#В начало">В начало</a></p>



</body>
</html>