* {margin: 0;
    padding: 0;}

body {
  background-image: url("/static/images/cover-for-mic.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;

    }

#header {
    list-style: none; float: right;
    width: 100%; height: 70px;
    margin-bottom: 50px;
    line-height: 70px; color: #f2b330; float: left;
    }
/*позиционирование хедера футера и мейн*/
.main-li-poisition { display: inline; padding: 0 20px;
    }
.header-li-poisition { display: inline; padding: 0 10px;
    }
.footer-li-poisition { display: block; padding: 0px 10px; line-height: 10px; margin-top: 20px;
    }

#footer { list-style: none; background: #212d39;
    width: 100%; height: 150px;
    margin-top: 50px; float: left;
    }

#main {display: block; width: 60%;
    margin-left: 20%; padding: 35px;
     float: left; margin-bottom:5%
    }

.settings-h {color: white; text-decoration: none;
    font-family: Montserrat}

.settings-f {color: white; text-decoration: none;
    font-family: Montserrat; font-size: 0.8em}

.color-main {color: white; text-decoration: none;
    font-size: 1.1em; font-family: Montserrat}

.color-main:hover{background: #4b7172;color: white;
    border-radius: 7px; padding: 15px;
    }
.color-h-f:hover {
  background: #4a6d60;
  border-radius: 5px;
  color: white; padding: 10px;
    }


.color-h-f-right {color: #f2b330; text-align: right;
    }

.position-right {text-align: right;

    }


.position_right{float: right; color: white; font-family: Montserrat; font-size: 0.8em;

}

/* стили для списка инструментов*/

.head_of_instruments {margin-left:45%; font-family: Montserrat; color: white;

}
.list_of_instuments {margin-top:3% ; margin-bottom: 5%; margin-left: 5%; list-style: none; font-family: Montserrat;
    text-decoration: none; line-height: 3em;
}