<h1>Корзина</h1>

{% if cart_items %}
<ul>
    {% for item in cart_items %}
    <li>
        <p> {{item.goods_in_cart.slug}} - {{ item.quantity }} x {{item.goods_in_cart.price|floatformat:2}} =  </p>

        <form method="post" action="{% url 'cart_add' item.goods_in_cart.id %}">
            <button type="submit" name="action" value="decrease"> Удалить один</button>
            <button type="submit" name="action" value="decrease_all"> Удалить все</button>
            {% csrf_token %}
        </form>
    </li>
    {% endfor %}
</ul>
<h2>Итого: {{ total_price }}</h2>
{% else %}
<p>Ваша корзина пуста</p>
{% endif %}
