<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ввод нового пароля</title>
</head>

<body>
 {% if validlink %}

        <h1>Введите новый пароль</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>

    {% else %}

        <p>Эта ссылка недействительна, возможно потому что уже была использована раннее. Пожалуйста отправьте
            новый запрос на сброс пароля.</p>

    {% endif %}
</body>
</html>
<!---данный шаблон будет использован на странице на которой будет предложено изменить пароль по ссылке из электронной почты>