<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<table align="right" width="40%">
    <tr>
        <th>Мои заказы</th>
        <th>Доставка</th>
        <th>Избранное</th>
        <th>Отзывы</th>
        <th>О нас</th>
        <th>Контакты</th>
    </tr>
</table>

    <br>
    <br>
<table align="center" width="60%" height="300">
    <tr>
        <th>Гитары</th>
        <th>Ударные</th>
        <th>Клавишные</th>
        <th>Микрофоны</th>
        <th>Студийное оборудование</th>
        <th>Коммутация</th>
    </tr>
</table>
    </br>
    </br>

</body>
</html>